.dataHolder {
    background: rgb(184, 184, 184);
    color: black;
}
.chartBackground {
    background:linear-gradient(180deg, rgba(11, 211, 213, 1) 0%, rgba(1, 163, 183, 1) 50%, rgba(53, 93, 100, 1) 100%);
}